body {
    color: #5a5a5a;
}

p {
    margin: 0;
}

ol.style-none{
    list-style: none;
}

.main-visual {
    background-image: url('../image/2075430_m.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*min-height: 480px;*/
}


.jumbotron h1 {
    text-align: center;
    text-shadow: 1px 1px 1px #fff,
        -1px 1px 1px #fff,
        1px -1px 1px #fff,
        -1px -1px 1px #fff;
}


.reed-box {
    margin: 2em auto;
    padding: 0.5em;
    /*width: 90%;*/
    background-color: #cce4ff;
    box-shadow: 0 0 5px 1px #ccc;
    font-size: 20px;
    text-shadow: 1px 1px 1px #fff,
        -1px 1px 1px #fff,
        1px -1px 1px #fff,
        -1px -1px 1px #fff;
    letter-spacing: -1.5px;
}

.bg-mask {
    /* 背景画像の透過用css */
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.centence-title {
    font-size: 30px;
    margin-bottom: 30px;
    border-bottom: solid 3px #cce4ff;
    position: relative;
}

.centence-title:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #5472cd;
    bottom: -3px;
    width: 20%;
}

.marketing .col-md-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing .col-lg-6 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


.merit-icon {
    color: #2bbbce;
    font-size: 80px;
}


.featurette-divider {
    margin: 30px 0;
    border: 0;
}


.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


.panel-heading {
    text-align: center;
    font-size: 24px;
}

.featurette-heading-sub {
    margin-top: 10px;
}

.seminar-info-title {
    font-size: 26px;
}

.seminar-info {
    text-indent: 18px;
    font-size: 20px;
}

p.supplement {
    font-size: 16px;
    padding-left: 30px;
}

li {
    font-size: 18px;
}

.btn{
    text-shadow: none;
}

.border-bottom {
    border-bottom: 1px solid #000;
    font-weight: bold;
}

.seminar-info.postscript {
    font-size: 18px;
    text-indent: 0px;
}


.seminar-info.remarks {
    font-size: 18px;
}


.line-centence {
    border-bottom: 1px solid black;
}

.return-top {
    text-align: center;
    font-size: 18px;
    margin: 10px;
}


.caution {
    margin-left: 40px;
}

/* RESPONSIVE
-------------------------------------------------- */

@media (min-width: 768px) {
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    .featurette-heading {
        font-size: 28px;
    }

    .featurette-heading-sub {
        font-size: 22px;
        font-weight: bold;
    }

}

@media (max-width: 768px) {
    .main-visual h2 {
        font-size: 20px;
    }
}


.jumbotron h1 {
    text-shadow: 1px 1px 3px #fff,
        -1px 1px 3px #fff,
        1px -1px 3px #fff,
        -1px -1px 3px #fff;
}

.jumbotron p {
    text-align: center;
    text-shadow: 1px 1px 1px #fff,
        -1px 1px 1px #fff,
        1px -1px 1px #fff,
        -1px -1px 1px #fff;
}

/*boostrap-redefinition*/
@media screen and (min-width: 768px) {

    .jumbotron h1,
    .jumbotron .h1 {
        font-size: 48px;
        font-weight: bold;
        /*display: inline-block;*/
        font-weight: bold;
        text-shadow: 1px 1px 3px #fff,
            -1px 1px 3px #fff,
            1px -1px 3px #fff,
            -1px -1px 3px #fff;
    }


}