.main-text {
    text-align: center;
}

.commentary {
    padding-left: 20px;
    font-size: 20px;
}

.border {
    border-bottom: 1px solid #000;

}

.s-title {
    text-indent: 0;
    margin-top: 10px;
}

.supplement {
    font-size: 20px;
}

.fa-file-alt {
    font-size: 28px;
}

.fa-file-pdf {
    font-size: 20px;
}

.fa-file-word {
    font-size: 20px;
}