body {
    color: #5a5a5a;
    background-color: #C4DFB4;
}

ol li {
    text-indent: 0;
}

.bold {
    font-weight: bold;
}

.list-style-none {
    list-style: none;
    padding-left: 1em;
}

.jumbotron {
    margin-bottom: 0;
}


.main-visual {
    background-image: url('../image/22092140_m.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-mask {
    /* 背景画像の透過用css */
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
}

.centence-title {
    font-size: 26px;
    margin-bottom: 16px;
    border-bottom: solid 3px #008081;
    position: relative;
    font-weight: bold;
}

.centence-title:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #001F5F;
    bottom: -3px;
    width: 20%;
}


.featurette-divider {
    margin: 30px 0;
    border: 0;
}


.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.subheading {
    color: red;
    padding: 1rem 2rem;
    border-bottom: 3px solid #000;
    background: #f4f4f4;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.small-subheading {
    font-size: 22px;
    border-bottom: 1px solid #000;
    /*F8CABB*/
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 9px;
}

.featurette-heading-sub {
    margin-top: 10px;
}

.seminar-info-title {
    font-size: 26px;
}

.contact-area {
    background: rgb(242, 246, 245);
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.seminar-info {
    font-size: 20px;
    padding-left: 10px;
}

.seminar-info.postscript {
    font-size: 18px;
}

.remarks {
    font-size: 18px;
}

.line-centence {
    border-bottom: 1px solid black;
}

.return-top {
    text-align: center;
    font-size: 18px;
    margin: 10px;
}


/* RESPONSIVE
-------------------------------------------------- */

@media (min-width: 768px) {
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    .featurette-heading {
        font-size: 28px;
    }

    .featurette-heading-sub {
        font-size: 22px;
        font-weight: bold;
    }

}

@media (min-width: 992px) {
    .featurette-heading {
        /*margin-top: 70px;*/
    }
}

.jumbotron h1,
.jumbotron .h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 3px #fff, -1px 1px 3px #fff, 1px -1px 3px #fff, -1px -1px 3px #fff;
}

.jumbotron h2,
.jumbotron .h2 {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {

    .jumbotron h1,
    .jumbotron .h1 {
        font-size: 54px;
    }
}

.lead-sentence-title {
    position: relative;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 24px;
}

.lead-sentence-title:before {
    position: absolute;
    bottom: -7px;
    left: calc(50% - 30px);
    width: 60px;
    height: 5px;
    content: '';
    border-radius: 3px;
    background: #001F5F;
}

.lead-sentence {
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 20px;
}

.lead-sentence p {
    text-indent: 20px;
}

p.sentence {
    text-indent: 20px;
    margin: 0;
}

.marker {
    background: linear-gradient(transparent 70%, #c1e0ff 70%);
    font-weight: bold;
}

.marker2 {
    background: linear-gradient(transparent 70%, yellow 70%);
    font-weight: bold;
}

.teacher-img {
    width: 120px;
    height: 170px;
}

.t-padding {
    padding-top: 15px;
}

.border {
    border-bottom: 1px solid #000;
}

.centering {
    text-align: center;
    margin-bottom: 20px;
}


.main-content {
    /*    width: 980px;*/
    /* height: 100vh; */
    margin: 0 auto;
    padding: 40px 15px;
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}