.main-visual {
    background-image: url('../image/24248139_m.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*    min-height: 480px;*/
    /*opacity: 0.1;*/
}


.bg-mask {
    background: rgba(255, 255, 255, 0.8);
}

.organizer {
    margin-bottom: 30px;
}

ul {
    text-indent: 0;
    margin-left: 25px;
}

i {
    text-indent: 0;
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

.indent-50 {
    text-indent: 50px;
}

.lead-sentence-title {
    position: relative;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 24px;
}

.lead-sentence-title:before {
    position: absolute;
    bottom: -7px;
    left: calc(50% - 30px);
    width: 60px;
    height: 5px;
    content: '';
    border-radius: 3px;
    background: #000;
}

.lead-sentence {
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 20px;
}

.lead-sentence p {
    text-indent: 20px;
}


.small-subheading {
    font-size: 22px;
    border-bottom: 1px solid #000;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 9px;
}


.contact-area {
    background: rgb(242, 246, 245);
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.flame1 {
    position: relative;
    margin: 2em auto;
    padding: 1em;
    width: 100%;
    color: #686868;
    background-color: #fff;
    border: 4px double #e1403d;
    box-shadow: 2px 2px 2px #ccc;
}

.flame1 .flame1-title {
    font-size: 22px;
    position: absolute;
    padding: 0 1em;
    left: 20px;
    top: -15px;
    font-weight: bold;
    background-color: #fff;
    color: #e1403d;
}

.flame1 p {
    padding: 15px 20px;
    margin: 0;
    font-size: 18px;
}

.btn2,
a.btn2,
button.btn2 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

.btn-wrap {
    margin: 30px 0;
    display: inline-block;
}
.btn-row{
    text-align: center;
}

a.btn2-c {
    font-size: 2.2rem;

    position: relative;

    padding: 0.25rem 2rem 1.5rem 3.5rem;

    color: #fff;
    background: #32b16c;
    -webkit-box-shadow: 0 5px 0 #2c9d60;
    box-shadow: 0 5px 0 #2c9d60;
}

a.btn2-c span {
    font-size: 1.5rem;

    position: absolute;
    top: -10px;
    left: calc(50% - 150px);

    display: block;

    width: 300px;
    padding: 0.2rem 0;

    color: #32b16c;
    border: 2px solid #32b16c;
    border-radius: 0.5rem;
    background: #fff;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

a.btn2-c:hover {
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);

    color: #fff;
    background: #30a967;
    -webkit-box-shadow: 0 2px 0 #2c9d60;
    box-shadow: 0 2px 0 #2c9d60;
}

a.btn2-c:hover:before {
    left: 2rem;
}

